<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-wR5CE02wB9XkfneD1qKd/EnyUte7Dmvlk8Jbcw2BHw18qrhDJ49UwWbJ1oGjffIiNRgboEYM7AjWLz6aYk9CKg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Document</title>
  </head>

  <body>
<!-- clicker -->

<div class="buttons">
  <a href="#" class="FadeInUp">Click here to choose a place</a>
</div>
<div class="overlay">
  <div class="content">
    <form >
      <div id="close"><i class="fa fa-times" aria-hidden="true"></i></div>
          <fieldset>  
            <legend><span class="number">1</span> case info</legend>
            <h3>choose speciality<h3>
                <select class="speciality">
                  <option value="1">choose</option>
              </select>
           </fieldset>
              <div style="margin-left: 14px;">
                <h3 style="margin-top: 0;margin-right: 0;margin-left:0;margin-bottom: -12px;">general ? </h3>
                <input type="checkbox" id="switch" /><label for="switch">Toggle</label>    
              </div>
           <fieldset>  
            <legend><span class="number">2</span> search info</legend>
            <div class="dropdown23">
              <input type="text" id="search-algo" placeholder="Select Search Algorithm" >
              <div class="dropdown23-content" id="algo-options" value="A*">
                <a href="#" onclick="selectAlgorithm('BFS')">BFS</a>
                <a href="#" onclick="selectAlgorithm('UCS')">UCS</a>
                <a href="#" onclick="selectAlgorithm('A*')">A*</a>
                  <a href="#" onclick="selectAlgorithm('Simulated Annealing')">Simulated Annealing</a>
              </div>
              <span class="arrow-down"></span>
          </div>
          <div class="optimality" style="margin-top: 20px;">
            <input type="radio" id="optimal-path" name="visualization" value="optimal" checked>
            <span>Optimal Path</span>
            <br>
            <input type="radio" id="search-visualization" name="visualization" value="paths">
            <span>Search Visualization</span>
          </div>
           </fieldset>
          <button class="mybtnsp button" >search for the hospital</button>
         </form>
  </div>
</div>

<!-- end of clicker -->
    <div id="map"></div>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script type="module">
      import { hospitals } from "{{ url_for('static', filename='js/hostpital.js') }}";
      import { myData } from "{{ url_for('static', filename='js/file.js') }}";
      var map = L.map("map").setView([36.7538, 3.0588], 12);
      var Osm = L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      // Style for the GeoJSON layer
      var geojsonStyle = {
        color: "#10008d", // Border color
        weight: 2, // Border width
        fillOpacity: 0, // No fill
      };

      const geojsonStyle2 = {
        color: "#FF5733", // Orange color for the path
        weight: 5, // Increase the weight of the line
        opacity: 0.9, // Set opacity to 80%
        lineCap: "round", // Set line cap to round for smoother appearance
      };

      // Create GeoJSON layer with the specified style
      var geojsonLayer = L.geoJSON(myData, {
        style: geojsonStyle,
      }).addTo(map);

      // Fit the map view to the boundaries of the GeoJSON data
      map.fitBounds(geojsonLayer.getBounds());
      // ship ------------------------------------------------------------------------
      // Create an empty GeoJSON object to hold the hospital data
      var hospitalsGeoJSON = {
        type: "FeatureCollection",
        features: [],
      };

      // Populate the GeoJSON object with hospital data
      for (let hospital of hospitals["hospitals"]) {
        var servicesString =
          hospital.services.slice(0, 3).join(", ") +
          (hospital.services.length > 3 ? "..." : "");
        var feature = {
          type: "Feature",
          geometry: {
            type: "Point",
            coordinates: [hospital.x, hospital.y],
          },
          properties: {
            name: hospital.name,
            services: servicesString,
          },
        };
        hospitalsGeoJSON.features.push(feature);
      }

      // Define the hospital icon
      var hospitalIcon = L.icon({
        iconUrl: "../static/images/hospital.png", // URL to your hospital icon image
        iconSize: [32, 32], // Size of the icon
        iconAnchor: [16, 32], // Anchor point of the icon
      });

      // Create a Leaflet layer from the GeoJSON object
      var hospitalLayer = L.geoJSON(hospitalsGeoJSON, {
        pointToLayer: function (feature, latlng) {
          return L.marker(latlng, { icon: hospitalIcon });
        },
      });

      // Bind popups to markers with hospital information
      hospitalLayer.bindPopup(function (layer) {
        var props = layer.feature.properties;
        return "<b>" + props.name + "</b><br>Services: " + props.services;
      });

      // Add the hospital layer to the map
      hospitalLayer.addTo(map);

      // ship ------------------------------------------------------------------------
      let startMarker, endMarker;

      function addFeatureWithDelay(feature, delay) {
        return new Promise((resolve) => {
          setTimeout(() => {
            L.geoJSON(feature, {
              style: geojsonStyle2,
            }).addTo(map);
            // Zoom the map to fit the bounds of the added feature
            //map.fitBounds(L.geoJSON(feature).getBounds());
            resolve(); // Resolve the promise after the delay
          }, delay);
        });
      }


      async function addFeatures() {
        if (myLine[2] == 0){
          geojsonStyle2["color"]="#5c00ff"
        for (let line of myLine[3]["features"]) {
          await addFeatureWithDelay(line.geometry,0,true);
        }
        addStartMarker();
  
      }else{
        
        geojsonStyle2["color"]="#FF5733"
          for(let path of myLine[3]){
            for (let line of path["features"]) {
              await addFeatureWithDelay(line.geometry,0,false);
            }
          }
          /*geojsonStyle2["color"]="#5c00ff";
          for (let line of myLine[4]["features"]) {
            await addFeatureWithDelay(line.geometry,0);
          }*/
          addStartMarker();
      }
      }

      function addStartMarker() {
        const startPoint = myLine[0];
        startMarker = L.marker([startPoint[0], startPoint[1]]).addTo(map);
        startMarker.bindPopup("This is your location").openPopup();
      }

      var marker = null; // Variable to hold the marker
      let latitude_1=0;
      let longitude_1=0;
      map.on("click", function (e) {
        latitude_1 = e.latlng.lat;
        longitude_1 = e.latlng.lng;
        // Remove the previous marker if it exists
        if (marker !== null) {
          map.removeLayer(marker);
        }

        // Add a new marker at the clicked location
        marker = L.marker(e.latlng).addTo(map);
      });
      let myLine;
    document.querySelector(".button").addEventListener("click", function () {
        let speciality_1 = document.querySelector(".current").textContent;
        let special_general = document.querySelector("#switch").checked;
        let search_type= document.querySelector("#search-algo").value;
        let optimal = getCheckedRadioButton();  
        
        if (typeof speciality_1 == "undefined" || speciality_1 == null ||speciality_1=="choose"){
          alert("enter a speciality");
          return;
        }
        if (latitude_1 ==0 || longitude_1==0 ){
          alert("enter a starting place");
          return;
        }
         // Define the data you want to send
      const requestData = {
        latitude: latitude_1,
        longitude:longitude_1,
        speciality:speciality_1,
        special_general:special_general,
        search_strat:search_type,
        search_tpe:optimal
      };
      document.querySelector(".overlay").classList.remove("is-on");
      setTimeout(function() {
      // Make a POST request to your Flask server
      fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(requestData),
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          // Assuming your Flask app responds with JSON data
          myLine = data;
          if (typeof myLine !== "undefined" && myLine !== null) {
            addFeatures();
          } else {
            console.log("NO data");
          }
        })
        .catch((error) => {
          console.error("Error fetching data:", error);
        });
    }, 600);
      });

      function getCheckedRadioButton() {
        var radios = document.getElementsByName('visualization');
        var checkedValue = null;
        for (var i = 0; i < radios.length; i++) {
          if (radios[i].checked) {
            checkedValue = radios[i].value;
            break;
          }
        }
        return checkedValue;
      }
    
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src={{url_for('static', filename='js/app.js')}}></script>


  </body>
</html>






  

